.registerContainer{
    width: 400px;
    margin: auto;
    color: beige;
    background-color:darkgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    align-items: center;
}
.registerContainer input{
    padding:10px 30px;
    border-radius:2px;
    background-color: black;
    border: none;
    color:gray;
    font: sans-serif;
    
}
.registerContainer button{
    padding: 8px 60px;
    border-radius: 10px;
    background-color: blue;
    border: none;
}
.registerContainer .link{
    background-color: inherit;
    color: inherit;
    padding-bottom: 20px;
}