/* Sidebar Container */
.sidebarCont {
    padding: 10px;
    color: azure;
    background-color: #000000;
    /* Set background color to black */
    border-right: 1px solid #efefef;
    /* Instagram's border color */
}

/* Sidebar List */
.sidebarCont ul {
    height: 90vh;
    margin: 8px;
    margin-right: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}